:root {
  /* fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* text colors*/
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --light-text-color: #ffffff;
  --black-text-color: #000000;
  /* background colors */
  --background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2196f3;
  --dark-fill-color: #2f303a;
  --light-fill-color: #ffffff;
  --light-border-color: #eeeeee;
  --img-background-color: #c4c4c4;
  --icon-light-color: #afb1b8;
  --icon-grey-color: #757575;
  --icon-white-color: #ffffff;
  /* animation */
  --anim-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* reset */
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* base styles */
.page {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.logo {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-text-color);
  background-color: var(--accent-background-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.header {
  background-color: var(--light-fill-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 93px;
  color: var(--black-text-color);
}

.header__web {
  color: var(--accent-text-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
}

.nav__link--current {
  color: var(--accent-text-color);
  position: relative;
}

.nav__link--current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-background-color);
  border-radius: 2px;
}

.nav__link:hover,
.nav__link:hover {
  color: var(--accent-text-color);
}

.header-contacts {
  margin-left: auto;
}

.header-contacts__list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-contacts__item {
  color: var(--main-text-color);
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-text-color);
}

.header-contacts__icon {
  margin-right: 10px;
  fill: var(--icon-grey-color);
  -webkit-transition: fill var(--anim-hover);
  transition: fill var(--anim-hover);
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  fill: var(--accent-background-color);
}

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--img-background-color);
  background-image: url(../image/hero-bg-overlay-1.webp), url(../image/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--anim-hover), visibility var(--anim-hover);
  transition: opacity var(--anim-hover), visibility var(--anim-hover);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  min-width: 530px;
  min-height: 580px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--light-fill-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--light-fill-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__btn:hover,
.modal__btn:focus {
  fill: var(--accent-background-color);
}

.register-form {
  padding-left: 41px;
  padding-right: 39px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.register-form__name {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.register-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.register-form__input {
  width: 450px;
  height: 40px;
  padding-left: 42px;
  background: var(--light-fill-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: fill var(--anim-hover);
  transition: fill var(--anim-hover);
}

.register-form__input:focus {
  border-color: var(--accent-background-color);
  outline: var(--accent-background-color);
  -webkit-transition: border-color var(--anim-hover);
  transition: border-color var(--anim-hover);
}

.register-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.register-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.register-form__input:focus + .register-form__icon {
  fill: var(--accent-background-color);
  -webkit-transition: border-color var(--anim-hover);
  transition: border-color var(--anim-hover);
}

.register-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.register-form__message {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.register-form__message textarea {
  resize: none;
  min-height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.register-form__message textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.register-form__message textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.register-form__message textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.register-form__message textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.register-form__message textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.register-form__agreement-label {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-agreement__link {
  color: var(--accent-text-color);
  text-decoration: underline;
}

.form-agreement__icons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-agreement__unchecked {
  opacity: 1;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-transition: opacity var(--anim-hover);
  transition: opacity var(--anim-hover);
}

.form-agreement__checked {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #2196f3;
  border-radius: 2px;
  -webkit-transition: opacity var(--anim-hover);
  transition: opacity var(--anim-hover);
}

.form-agreement__checkbox:checked + .form-agreement__icons .form-agreement__checked {
  opacity: 1;
}

.form-agreement__checkbox:checked + .form-agreement__icons .form-agreement__unchecked {
  opacity: 0;
}

.register-form__btn {
  display: block;
}/*# sourceMappingURL=main.css.map */