:root {
  /* fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* text colors*/
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --light-text-color: #ffffff;
  --black-text-color: #000000;

  /* background colors */
  --background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2196f3;
  --dark-fill-color: #2f303a;
  --light-fill-color: #ffffff;
  --light-border-color: #eeeeee;
  --img-background-color: #c4c4c4;
  --icon-light-color: #afb1b8;
  --icon-grey-color: #757575;
  --icon-white-color: #ffffff;

  /* animation */
  --anim-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* base styles */
.page {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

/* reset */
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.logo {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header styles */

.header {
  background-color: var(--light-fill-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  color: var(--black-text-color);
}

.header__web {
  color: var(--accent-text-color);
}

/* navigation */

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--anim-hover);
}

.nav__link--current {
  color: var(--accent-text-color);
  position: relative;
}

.nav__link--current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-background-color);
  border-radius: 2px;
}

/* header-contacts */
.header__group {
  margin-left: auto;
}

.header-contacts {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-contacts__item {
  color: var(--main-text-color);
}

.header-contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--anim-hover);
}

.header-contacts-icon {
  margin-right: 10px;
  fill: var(--icon-grey-color);
  transition: fill var(--anim-hover);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-text-color);
}

.header-contacts__link:hover .header-contacts-icon,
.header-contacts__link:focus .header-contacts-icon {
  fill: var(--accent-background-color);
}



/* Studio page styles */
/*  hero section styles */
.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--img-background-color);
  background-image: url(../image/hero-bg-overlay-1.webp),
    url(../image/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.btn{
  width: 200px;
  min-height: 50px;
  padding-top: 10px;
    padding-bottom: 10px;
  margin-right: auto;
    margin-left: auto;
  font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--light-text-color);
    background-color: var(--accent-background-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;  
}


.modal-form-btn {
  display: block;
  margin: 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  max-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-text-color);
  background-color: var(--accent-background-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}










/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--anim-hover), visibility var(--anim-hover);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  min-width: 530px;
  min-height: 580px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--light-fill-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--light-fill-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-background-color);
}

/* modal-window-form */
.modal-form {
  padding-left: 41px;
  padding-right: 39px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.modal-name {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  width: 450px;
  height: 40px;
  padding-left: 42px;
  background: var(--light-fill-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: fill var(--anim-hover);
}

.form-input:focus {
  border-color: var(--accent-background-color);
  outline: var(--accent-background-color);
  transition: border-color var(--anim-hover);
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.user-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transform: translateY(100%);
}

.form-input:focus + .user-icon {
  fill: var(--accent-background-color);
  transition: border-color var(--anim-hover);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-message {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-message textarea {
  resize: none;
  min-height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.form-message textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.form-agreement-label {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  user-select: none;
}

.form-agreement-link {
  color: var(--accent-text-color);
  text-decoration: underline;
}

.agreement-icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.agreement-unchecked {
  opacity: 1;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  background-color: #ffffff;
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); */
  border-radius: 2px;
  transition: opacity var(--anim-hover);
}

.agreement-checked {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #2196f3;
  border-radius: 2px;
  transition: opacity var(--anim-hover);
}

.form-agreement-checkbox:checked + .agreement-icons .agreement-checked {
  opacity: 1;
}

.form-agreement-checkbox:checked + .agreement-icons .agreement-unchecked {
  opacity: 0;
}

.modal-form-btn {
  display: block;
  margin: 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  max-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-text-color);
  background-color: var(--accent-background-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* section feature styles */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-subtitle {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.feature-list {
  display: flex;
}

.feature-icons {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-list > .feature-item:not(:last-child) {
  margin-right: 30px;
}
/* doings section styles */

.doings {
  padding-top: 0;
}
.doings-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.doings-list {
  display: flex;
}

.doings-list > .doings-item:not(:last-child) {
  margin-right: 30px;
}

.doings-item {
  position: relative;
}
.doings-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.doings-overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

/* team section styles */

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-content {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-card {
  max-width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--light-fill-color);
}
.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list-subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* social-links */

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.socials-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: var(--light-fill-color);
  border-radius: 50%;
  transition: fill var(--anim-hover), background-color var(--anim-hover);
}

.socials-icon {
  fill: var(--icon-light-color);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-background-color);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--light-fill-color);
}

/* clients section styles */

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  background-color: var(--light-fill-color);
  border: 1px solid var(--icon-light-color);
  border-radius: 4px;
  transition: border-color var(--anim-hover);
}

.clients-icon {
  fill: var(--icon-light-color);
  transition: fill var(--anim-hover);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-background-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-background-color);
}
/* Portfolio page styles */

/* buttons style */
.button-container {
  padding-bottom: 50px;
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list .portfolio-button:not(:last-child) {
  margin-right: 8px;
}

.button-list .button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  border-radius: 4px;
  transition: color var(--anim-hover), background-color var(--anim-hover),
    box-shadow var(--anim-hover);
}

.list .button:hover,
.list .button:focus {
  background-color: var(--accent-background-color);
  color: var(--light-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* project-cards style */

.projects-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.projests-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.projects-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-card {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--anim-hover);
}

.projects-card:hover,
.projects-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-description {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--anim-hover);
}

.projects-item:hover .card-overlay {
  transform: translateY(0);
}

.card-overlay-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}

/* footer styles */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-fill-color);
}

.footer-socials-section {
  margin-left: 70px;
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--light-fill-color);
}

.footer__web {
  color: var(--accent-text-color);
}

.addres {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  font-style: normal;
}
.addres-text {
  color: var(--light-text-color);
  padding-bottom: 9px;
}

.footer-contacts {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--anim-hover);
}

.footer-mail {
  margin-bottom: 9px;
}

.addres .link:hover,
.addres .link:focus {
  color: var(--accent-text-color);
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.footer-socials {
  display: flex;
  gap: 10px;
}

.footer-socials-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--anim-hover);
}

.footer-socials-icon {
  fill: var(--light-fill-color);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-background-color);
}

.footer-form {
  display: flex;
  gap: 12px;
}

.footer-mailing {
  margin-left: 95px;
  margin-right: auto;
}

.footer-form-field {
  width: 360px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-fill-color);
  padding-left: 16px;
  color: var(--light-text-color);
}

.footer-form-field::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  max-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-text-color);
  background-color: var(--accent-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon-send {
  fill: var(--icon-white-color);
  margin-left: 10px;
}
